@font-face {
  font-family: 'DX시인과나';
  src: url('/fonts/DX시인과나.ttf');
}

@font-face {
  font-family: 'Cafe24';
  src: url('/fonts/Cafe24Oneprettynight-v2.0.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 600px;
  overflow-x: hidden;
  font-family: 'DX시인과나';
}

html {
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}
